@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}

/* animation for productSCroll component  */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-40%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
