@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}

/* animation for productSCroll component  */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-40%);
  }
}

.animate-marquee {
  animation: marquee var(--speed, 50s) linear infinite;
}

@font-face {
  font-family: "mainFont";
  src: url("https://nfinitepaper.com/_next/static/media/subset_00Hypertext_Medium-s.p.4840b826.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Apply globally */
:root {
  font-family: "mainFont", sans-serif;
}
/* for smooth scrolling  */
html {
  scroll-behavior: smooth;
}
